@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1e1e1e;
  height: 2000px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #2c2c2c;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  gap: 20px;
  padding: 40px 0 40px 17.75px;

  div.logos {
    .main_logo {
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
    .search_box {
      width: 52.5px;
      height: 52.5px;
      background-color: #333333;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 44.47px 0 32px 0;
    }
    nav {
      align-items: center;
      gap: 32px;
      margin-bottom: 200px;
    }
    div.additional_settings {
      align-items: center;
      gap: 32px;

      /* .avatar_logo {
        margin-top: 20px;
      } */
    }
  }
  div.texts {
    max-width: 0;
    opacity: 0;
    transition: max-width 300ms ease, opacity 500ms linear;
    a {
      font-size: 16px;
      color: #9e9e9e;
      text-decoration: none;
      font-weight: 600;
    }
    h1 {
      color: white;
      font-size: 24px;
      font-weight: 600;
    }
    input {
      margin: 44.47px 0 32px -25px;
      width: 223.5px;
      height: 52.5px;
      background-color: #333333;
      border: none;
      outline: none;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      caret-color: #9e9e9e;
    }
    input::placeholder {
      color: #9e9e9e;
      font-size: 16px;
    }

    div.navigation {
      gap: 37px;
    }
    .additional_settings_texts {
      gap: 37.8px;
      margin-top: 202px;

      .user {
        height: 89px;
        background-color: #333333;
        justify-content: center;
        margin-left: -26px;
        padding-left: 16px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

        p.username {
          color: white;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 8px;
        }
        span.mail {
          color: #808080;
          font-size: 12px;
        }
      }
    }
  }
}

header:hover div.texts {
  max-width: 198.5px;
  opacity: 1;
}

header:hover {
  padding-right: 17.75px;
}
.avatar_logo {
  height: 89px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 50px;
  padding-left: 5px;
  transition: all 500ms linear;
}

header:hover .avatar_logo {
  background-color: #333333;
}
